@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .flicker-animation {
    animation: flickering 0.8s ease infinite;
  }

  @keyframes flickering {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 50%;
    }
    100% {
      opacity: 100%;
    }
  }

  .paper-bg {
    /* background-color: #e5e5f7; */
    background-color: rgba(229, 229, 247);
    opacity: 0.3;
    background-image: linear-gradient(#b0b1c9 2px, transparent 2px),
      linear-gradient(90deg, #b0b1c9 2px, transparent 2px),
      linear-gradient(#b0b1c9 1px, transparent 1px),
      linear-gradient(90deg, #b0b1c9 1px, #e5e5f7 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  }
}

@layer components {
  .nav-button-active {
    @apply flex items-center justify-start sm:justify-center lg:justify-start bg-primaryBlue sm:bg-transparent lg:bg-primaryBlue w-56 sm:w-full lg:w-56 h-12 rounded-lg text-white sm:text-primaryBlue lg:text-white mb-6;
  }
  .nav-button-inactive {
    @apply flex items-center justify-start sm:justify-center lg:justify-start w-56 sm:w-full lg:w-56 h-12 rounded-lg text-blueGray mb-6 hover:bg-gray-100 sm:hover:bg-transparent lg:hover:bg-gray-100;
  }

  .floating-label {
    @apply absolute transition-all duration-300 top-0 -translate-y-2 scale-75 text-primaryBlue bg-mainBackground peer-placeholder-shown:bg-transparent peer-placeholder-shown:text-slate-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:top-3 ms-4 text-sm peer-focus:top-0 peer-focus:-translate-y-2 z-50 peer-focus:bg-mainBackground px-2 peer-focus:scale-75 peer-focus:text-primaryBlue
  }
}
